
/* header - 검색이 같이 있는 */
header{
    width: 100%; 
    height: 170px; 
    justify-content: flex-end;
    background-color: #24a6a4;
    top:0;
    border-bottom-right-radius: 100px;
}
header .header_Container{
    display: flex;
    justify-content: flex-end;
    height: 30%;
}
header .header_list {
    list-style: none;
    display: flex;
    padding-left: 0;
  
}
/* 로그인 후 */
header .header-list-after-login {
	list-style: none;
	display: flex;
	padding-left: 0;
}

header .header-list-after-login li {
	padding: 12px 12px;
}

header .header-list-after-login li:nth-child(1) {
	text-decoration: none;
	color: whitesmoke;
	font-family: 'OTWelcomeRA';
	font-size: 15px;
}

header .header-list-after-login li:nth-child(2) a {
	text-decoration: none;
	color: whitesmoke;
	font-family: 'OTWelcomeRA';
	font-size: 15px;
}

header .header-list-after-login li:nth-child(3) a {
	text-decoration: none;
	color: #f8d200;
	font-family: 'OTWelcomeRA';
	font-size: 15px;
}

/* 로그인 전 */
header .header_list li {
	padding: 12px 12px;
}

header .header_list li:nth-child(1) a {
	text-decoration: none;
	color: whitesmoke;
	font-family: 'OTWelcomeRA';
	font-size: 15px;
}

header .header_list li:nth-child(2) a {
	text-decoration: none;
	color: #f8d200;
	font-family: 'OTWelcomeRA';
	font-size: 15px;
}


header .div-wrap{
    display: flex;
    justify-content:center;
    height: 60%;

}

header .nav_div{
    width: 80%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header a {
	width: 60%;
	height: 100%;
}
header .logoImg {
	width: 60%;
	height: 100%;
}

.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.searchContainer .div-wrap2 {
    display: flex;
    justify-content: flex-start;
    width: 52%;
}

.pContainer{
    display: flex;
    justify-content: center;
}
.pContainer p{
    font-size: 20px;
    font-family: 'OTWelcomeRA' ;
    font-weight: 800;
    padding-top: 10px;
}
.searchBar {
	text-align: center;
	height: 55px;
	width: 60%;
	margin-left: 10px;
	display: flex;
}

.searchBar .btn-group  {
	width: 90% !important;
	height: 60px;
}

.searchBar div:last-child button {
	border: none;
	background-color: transparent;
}

.searchBar div:last-child button .fas {
	height: 5px;
	color: #fff;
}

.searchBar .seacrh {
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 10px 10px;
	border: none;
}

.tab-content>.active {
	background-color: #fff !important;
}

.form-control {
	font-size: 13px !important;
}

/* 검색어 드랍다운 */
#recent {
	width: 30%;;
	position: absolute;
	inset: 0px auto auto 0px;
	margin: 0px;
	transform: translate3d(0px, 62px, 0px);
	max-width: -webkit-fill-available;
	min-width: -webkit-fill-available;
	height: auto;
}

.list-search-div {
	width: 100% !important;
	height: auto !important;
}

#text {
	width: 100% !important;
	height: auto;
	padding: 5%;
	background: #fff;
}

.line {
	width: 100% !important;
}

.textLine {
	display: flex;
	width: 100% !important;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid gray;
	height:60px;
}
.top-nav{
	padding:0px;
}
#nav-search {
	width: 100%;
	height: 100%;
}

#nav-tab1 {
	width: 100% !important;
}

#nav-search-tab {
	width: 50%;
	height:60px;
}

.nav-link {
	color: #24a6a4;
}

.nav-tabs .nav-link.active {
	color: #fff;
	background-color: #24a6a4;
	border-color: #24a6a4
}

#nav-hotkeyword-tab {
	width: 50%;
	height:60px;
}

#delBtn {
	width: 100%;
	height: 50px;
}

.search-dropdown {
	background-color: #fff;
}
/* 검색어 - 인기검색어 */
.hotkeyword-title {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100% !important;
	height: 50px !important;
	font-size: 20px;
	font-weight: 700;
	padding-top: 20px;
}

.hotkeyword-contents {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 5%;
}

.hotkeyword-contents div {
	width: 100% !important;
	height: 50px !important;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hotkeyword-contents .hotkeyword-num {
	font-size: 20px;
	font-weight: 600;
}