* {
    box-sizing: border-box;
}

html,body{
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

/* header */
header{
    width: 100%; 
    height: 200px; 
    justify-content: flex-end;
    background-color: #24a6a4;
    z-index: 2;
    border-bottom-right-radius: 100px;
}
header .header_Container{
    display: flex;
    justify-content: flex-end;
}
header .header_list {
    list-style: none;
    display: flex;
    padding-left: 0;
  
}

header .header_list li {
    padding: 12px 12px;
    
}
header .header_list li:nth-child(1) a{
    text-decoration: none;
    color: whitesmoke;
    font-family:'OTWelcomeRA';
    font-size: 20px;
}
header .header_list li:nth-child(2) a{
    text-decoration: none;
    color: #f8d200;
    font-family:'OTWelcomeRA';
    font-size: 20px;
}

header .div-wrap{
    display: flex;
    justify-content:center;

}

header .nav_div{
    width: 80%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header .logo {
    font-family: 'SBAggroB';
    font-size: 35px;
    color: #fff;
    display: flex;

}
header .logo a {
    text-decoration: none;
    color: #fff;
}