@charset "UTF-8";

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	height: 100%;
	box-sizing: border-box;
}

/* 메인  */
main {
	height: auto;
	width: 100%;
	padding: 2%;
	margin-bottom: 250px;
	margin-top: 100px;
	display: flex;
	justify-content: center;
}

main .main-container {
	width: 80%;
	height: 1000px;
}

main .main-container .title {
	font-size: 30px;
}

.contents {
	width: 100%;
	height: 100px;
	border: 1px solid black;
	margin-top: 5%;
}

.contents-list {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.contents-list .left-list img {
	border: 1px solid black;
	width: 100px;
	height: 100px;
}

.right-list {
	width: 100%;
	height: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding-left: 3%;
}