
* {
    box-sizing: border-box;
}

body{
    margin: 0;
    height : auto;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin: auto;
    width:80%;
}

main > div {
    border: 1px solid black;
}
.talk-container {
    width: 100%;
    height: 1000px;
    display: flex;
    padding: 2%;
}
.talk-list, .talk-add-list {
    display: flex;
    border: 1px solid black;
    overflow-y: auto;
}

.talk-list-btn {
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color:white;
}

.talk-list-left {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.talk-list-right {
    width: 70%;
}
.talk-list-right .talk-name {
    font-family: OTWelcomeBA;
    font-size: 17px;

}
.talk-left{
    width:40%;
    padding: 1%;
    overflow-y:auto;
}

.talk-left .inputTalk {
    width: 100%;
}
.talk-right{
    width:60%;
    padding: 1%;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
}
.talk-right .right-top{
    height: 5%;
}
.talk-right .right-middle{
    height: 80%;
    border: 1px solid black;
    overflow-y:auto;
}
.right-middle>* {
    border-radius: 5px;
    margin: 5px;
    background-color:pink;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Dongle';
    padding: 5px;
    padding-left:3px;
    width: fit-content;
    max-width: 60%;
}


.talk-right .right-bottom{
    height: 15%;
    display: flex;
    width: 100%;
}
.talk-right .right-bottom *{
	float: left;
	
}
.talk-right .right-bottom div{
	height: 100%;
    width: 80%;
    border: 1px solid black;
}
.talk-right .right-bottom button{
    width: 20%;
}
.right-title-left{
    border-bottom: 1px solid black;
    display: flex;
}
.title-img {
    width: 10%;
}
.title-name{
    width: 20%;
}

.talk-list-left>img{
	width:50px;
	height: 50px;
}

a {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

a:hover{
    text-decoration: none;
  color: black;
}