* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: auto;
	min-height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	font-family: 'OTWelcomeRA';
}

main {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20%;
	margin: auto;
	width: 80%;
}

main>div {
	border: 1px solid black;
}

.talk-container {
	width: 100%;
	height: 1000px;
	display: flex;
	padding: 2%;
	margin-top: 10%;
	margin-bottom: 10%;
}

.talk-list {
	overflow: none;
	height:100px;
}

.talk-list, .talk-add-list {
	display: flex;
	border: 1px solid black;
	overflow-y: none;
}

.talk-list-btn {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	background-color: white;
}

.talk-list-left {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.talk-list-right {
	width: 70%;
}

.talk-list-right .talk-name {
	font-family: OTWelcomeBA;
	font-size: 15px;
	height: 30px;
}

.talk-list-right .talk-name {
	font-family: OTWelcomeBA;
	font-size: 15px;
	height: 30px;
	display: flex;
	align-items: center;
}


.talk-name-div {
	font-size: 15px;
	display: flex;
	align-items: center;
}

.talk-time {
	font-size: 10px;
	color: gray;
	padding-left: 10px;
	align-items: center;
	display: flex;
}

.talk-left {
	width: 40%;
	padding: 1%;
	overflow-y: auto;
}

.talk-left .inputTalk {
	width: 100%;
}

#preventInput {
	height: 100%;
	width: 100%;
}

.talk-right {
	width: 60%;
	padding: 1%;
	border-left: 1px solid black;
	display: flex;
	flex-direction: column;
}

.talk-right .right-top {
	height: 5%;
}

.talk-right .right-middle {
	height: 85%;
	border: 1px solid black;
	overflow-y: auto;
}

.left-line {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

.right-line {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

.left-line>* {
	float: left;
}

.right-line>* {
	float: left;
}

.chatTime {
	height: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.left-line .chatRead {
	text-align: left;
}

.right-line .chatRead {
	text-align: right;
}

.time {
	
	height: 40px;
	line-height: 60px;
}

.line {
	border-radius: 5px;
	margin: 3px;
	background-color: #c7ecee;
	font-weight: bold;
	font-size: 20px;
	font-family: 'OTWelcomeRA';
	padding: 3px;
	padding-left: 4px;
	padding-top: 3px;
	max-width:fit-content;
	opacity: 0.8;
}

.initial-page {
	display: flex;
	justify-content: center;
	margin: auto;
	align-items: center;
	height: 100%;
}

.initial-page-line {
	border-radius: 5px;
	margin: 3px;
	background-color: #c7ecee;
	font-weight: bold;
	font-size: 20px;
	font-family: 'OTWelcomeRA';
	padding:5%;
	width: fit-content;
	max-width: 80%;
	opacity: 0.8;
	text-align: center;
	color: black;
}

.talk-right .right-bottom {
	height: 10%;
	display: flex;
	width: 100%;
}

.talk-right .right-bottom * {
	float: left;
}

.talk-right .right-bottom div {
	height: 100%;
	width: 85%;
	border: 1px solid black;
}
#message {
	width:100%;
	height:100%;
	overflow:auto;
}

.talk-right .right-bottom button {
	width: 15%;
	font-size: 13px;
}

.talk-right .right-bottom button:hover {
	background-color: #c7ecee;
	color: #fff;
}

.right-title-left {
	border-bottom: 1px solid black;
	display: flex;
	margin-left:2px;
}

.title-img {
	width: 10%;
}

.title-name {
	width: 100%;
	line-height: 40px;
	padding-left:10px;
}

.talk-list-left>img {
	width: 50px;
	height: 50px;
}

a {
	text-decoration: none;
	color: black;
}

a:active {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

.right-middle-title {
	width: 100%;
	height: 30px;
	text-align: center;
	font-size: 15px;
	color: #808080;
	padding-top:10px;
}

/* 버튼 */
.btn-group ul li button {
	width: 100%;
	height: 100%;
	border: none;
}

.talk-last-conversation {
	padding-bottom: 10px;
}