<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
   <select id="selectAll" resultType="kh.spring.dto.BoardDTO">
      SELECT * FROM BOARD ORDER BY BOARD_SEQ DESC
   </select>
   
   <select id="selectBySeq" resultType="kh.spring.dto.BoardDTO">
      SELECT * FROM BOARD WHERE BOARD_SEQ = #{value}
   </select>
   
   <insert id="insert">
      INSERT INTO BOARD VALUES(BOARD_SEQ.NEXTVAL, #{writer}, #{contents}, #{subject}, DEFAULT, DEFAULT, DEFAULT)
      <selectKey resultType="int" order="AFTER" keyProperty="board_seq">
         SELECT BOARD_SEQ.CURRVAL FROM DUAL
      </selectKey>
   </insert>
   
   <delete id="delete">
      DELETE FROM BOARD WHERE BOARD_SEQ = ${value}
   </delete>
   
   <update id="modify">
      UPDATE BOARD SET CONTENTS = #{contents}, SUBJECT = #{subject} WHERE BOARD_SEQ = #{board_seq}
   </update>
   
   <update id="addLikeCount">
      UPDATE BOARD SET LIKE_COUNT = LIKE_COUNT + 1 WHERE BOARD_SEQ = ${value}
   </update>
   
   <update id="subtractLikeCount">
      UPDATE BOARD SET LIKE_COUNT = LIKE_COUNT - 1 WHERE BOARD_SEQ = ${value}
   </update>
   
   <insert id="addLikeList">
      INSERT INTO BOARD_LIKE VALUES(BOARD_LIKE_SEQ.NEXTVAL, #{seq}, #{user_id})
   </insert>
   
   <delete id="removeLikeList">
      DELETE FROM BOARD_LIKE WHERE BOARD_SEQ = #{seq} and USER_ID = #{user_id}
   </delete>
</mapper>