<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Items">

	<insert id="insert">
		INSERT INTO ITEMS VALUES(ITEMS_ISEQ.NEXTVAL,
		#{name},#{category},#{exarea},#{condition},#{refundable}
		,#{price},#{info},DEFAULT,#{tag},#{cnt},#{sellerID},DEFAULT, DEFAULT,
		DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT,DEFAULT)

		<selectKey resultType="int" order="AFTER" keyProperty="iseq">

			SELECT ITEMS_ISEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>

	<!-- <select id="selectBySeq" resultType="kh.spring.dto.ItemDTO"> select 
		* from items where iseq = #{value} </select> -->


	<select id="selectAll" resultType="kh.spring.dto.ItemsDTO">

		SELECT * FROM ITEMS WHERE DEAL
		='Y' ORDER BY ISEQ DESC
	</select>

	<select id="selectBySeq" resultType="kh.spring.dto.ItemsDTO">

		SELECT * FROM ITEMS WHERE
		ISEQ = #{iseq}
	</select>


	<!-- 연관상품 이름다듬기 -->

	<select id="selectByName" resultType="kh.spring.dto.ItemsDTO">

		SELECT * FROM ITEMS WHERE
		<foreach collection="targetList" index="index" item="items"
			open="(" close=")" separator="or">

			Name LIKE '%'||#{items}||'%'

		</foreach>

		AND ISEQ != #{iseq}

	</select>


	<select id="selectNameToSeq" resultType="kh.spring.dto.ItemsDTO">

		SELECT * FROM ITEMS WHERE ISEQ IN
		<foreach collection="rilist" index="index" item="items"
			open="(" close=")" separator=",">

			#{items.iseq}
		</foreach>

	</select>


	<!-- 연관상품 -->
	<!-- <select id="selectBySeqR" resultType="kh.spring.dto.ItemsDTO"> SELECT 
		* FROM ITEMS WHERE ISEQ IN <foreach collection="rilist" index="index" item="items" 
		open="(" close=")" separator=","> #{items.iseq} </foreach> </select> -->
	<!-- 해당 회원의 상품들 찾기 -->
	<select id="selectMineById" resultType="kh.spring.dto.ItemsDTO">
		SELECT * FROM ITEMS WHERE
		SELLERID = #{id} ORDER BY 1 DESC
	</select>


	<!--해당 회원이 등록한 상품 개수 -->


	<select id="sellCount" resultType="int">
		SELECT COUNT(*) FROM ITEMS
		WHERE SELLERID = #{id}
	</select>




	<!-- 해당 회원이 구매한 상품들 찾기 -->

	<select id="buyCount" resultType="int">
		SELECT COUNT(*)
		FROM ITEMS I
		INNER JOIN SAFEDEAL SD ON(I.ISEQ =SD.ITEMS_NO)
		WHERE BUYER =#{id}
	</select>

	<select id="buyIList" resultType="kh.spring.dto.ItemsDTO">
		SELECT I.*,SD.*
		FROM ITEMS I
		INNER JOIN SAFEDEAL SD ON(I.ISEQ =SD.ITEMS_NO)
		WHERE BUYER =#{id} ORDER
		BY SD.SEQ DESC
	</select>


	<!-- 해당 회원이 구매한 상품 개수 -->







	<!-- 상품 거래상태 수정 시 -->
	<update id="updateProc">

		UPDATE ITEMS SET DEAL=#{deal} WHERE ISEQ=#{iseq}
	</update>

	<!-- 상품 자체 수정 시 -->


	<update id="itemsModifyProc">

		UPDATE ITEMS SET NAME=#{name}, CATEGORY=#{category},
		EXAREA=#{exarea},CONDITION=#{condition},
		REFUNDABLE=#{refundable},PRICE=#{price},INFO=#{info},TAG=#{tag},CNT=#{cnt},WRITE_DATE=DEFAULT
		WHERE ISEQ=#{iseq}
	</update>


	<delete id="itemsDeleteBySeq">
		
		DELETE FROM ITEMS WHERE ISEQ=#{value}



	</delete>


	<select id="selectById" resultType="kh.spring.dto.ItemsDTO">
		SELECT * FROM ITEMS WHERE
		SELLERID = #{value} ORDER BY 1 DESC
	</select>
	<!-- 채팅에서 상품아이디 통해서 판매자 아이디 가져오기 -->
	<select id="selectByProductId" resultType="String">
		SELECT SELLERID FROM
		ITEMS WHERE ISEQ = #{value}
	</select>

	<!-- 조회수 추가 -->

	<update id="addViewCount">
		UPDATE ITEMS SET VIEW_CNT = VIEW_CNT + 1
		WHERE
		ISEQ =
		${value}
	</update>

	<!-- 검색창 관련 부분입니다. -->
	<!-- 카테고리로 검색하기 -->

	<select id="selectByCategory"
		resultType="kh.spring.dto.ItemsDTO">


		SELECT * FROM ITEMS WHERE CATEGORY =#{value} ORDER BY ISEQ
		DESC
	</select>


	<!-- 상품명으로 검색하기 -->
	<select id="selectByIName" resultType="kh.spring.dto.ItemsDTO">

		SELECT * FROM ITEMS WHERE NAME LIKE '%'||#{value}||'%' OR CATEGORY LIKE
		'%'||#{value}||'%' OR EXAREA LIKE '%'||#{value}||'%' ORDER BY 1 DESC

	</select>


	<!-- detail페이지에 우측 하단 -->

	<!--해당 상품올린 상점(id) 로 등록된 상품의 총 개수 -->
	<select id="ItemsCount" resultType="int">
		SELECT COUNT(*) FROM ITEMS
		WHERE SELLERID in (select sellerid from items where iseq=#{value})
	</select>



	<select id="selectByIseq" resultType="kh.spring.dto.ItemsDTO">
		SELECT * FROM ITEMS
		WHERE
		SELLERID IN (SELECT SELLERID FROM ITEMS WHERE ISEQ =#{value} )
	</select>


	<!-- join 을 통한 상점 정보 추출하기 -->
	<select id="sellCountAll" resultType="kh.spring.dto.ItemsDTO">

		SELECT
		SELLERID,COUNT(SELLERID)AS COUNT FROM ITEMS GROUP BY SELLERID
	</select>




	<!-- 검색창 관련 부분입니다. -->

	<insert id="insertQNA">
		INSERT INTO ITEMS_QNA VALUES(ITEMS_QNA_SEQ.NEXTVAL,
		#{iseq},#{writer}, #{contents}, CURRENT_DATE)
	</insert>

	<delete id="deleteQNA">
		DELETE FROM ITEMS_QNA WHERE ITEMS_QNA_SEQ = ${value}
	</delete>

	<select id="selectQNABySeq"
		resultType="kh.spring.dto.ItemsQNADTO">
		SELECT * FROM ITEMS_QNA WHERE ISEQ = ${value}
		ORDER BY
		ITEMS_QNA_SEQ
	</select>


</mapper>