<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
   <mapper namespace="Search">
   
   	 <select id="selectAll" resultType="kh.spring.dto.SearchKeywordDTO">
   	
   			SELECT * FROM (SELECT * FROM SEARCH_KEYWORD ORDER BY SEQ DESC) WHERE ROWNUM &lt; 10 AND USER_ID = #{value}

   		
   	</select>
   
   
   <!-- 최근검색어에 insert 하면서 인기검색어에도 insert 하는 쿼리 (두개의테이블에 집어넣음) -->
   <insert id="insert">
   {call
   	declare
   	begin
   	
   	INSERT INTO SEARCH_KEYWORD VALUES(SEARCH_KEYWORD_SEQ.NEXTVAL, #{keyword}, SYSDATE, #{user_id});
   	
   	
   		INSERT INTO SEARCH_HOTKEYWORD VALUES(SEARCH_HOTKEYWORD_SEQ.NEXTVAL, #{keyword}, SYSDATE, #{user_id});
   	
   	end
   	}	
   </insert>
   
   <!-- 최근검색어에 중복된 값이 있는지 확인 -->
   
   <select id="searchExistCount" resultType="int">
   
   select count(*) from search_keyword where keyword = #{keyword}
   
   </select>
   
   <delete id ="deleteAll">
   
   
   	DELETE FROM SEARCH_KEYWORD
   	
   </delete>
   
   <delete id ="deleteByKeyword">
   
   DELETE FROM SEARCH_KEYWORD WHERE keyword = #{keyword}
   </delete>
   
   <select id= "selectByHot" resultType="kh.spring.dto.SearchKeywordDTO">
   	
   
   SELECT KEYWORD
FROM
(SELECT KEYWORD,COUNT(KEYWORD) AS COUNT FROM SEARCH_HOTKEYWORD GROUP BY KEYWORD ORDER BY COUNT DESC)
WHERE ROWNUM &lt; 6

   
   </select>
   
    </mapper>
  
  
  
  
  
  
  
  