* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: auto;
	display: flex;
	flex-direction: column;
}

main {
	height: auto;
	width: 100%;
	flex-direction: column;
	margin-bottom: 200px;
	margin-top: 200px;
}

.contents-box {
	width: 100%;
	height: auto;
	margin: auto;
	font-family: OTWelcomeRA;
	margin-bottom: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contents-box form {
	width: 80%;
	height: auto;
}

.contents-box h1 {
	font-family: OTWelcomeBA;
}


.contents {
	width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.contents #subject{
	width: 20%;
    height: 40px;
}

 .contents button {
 	width: 100px;
 	height:40px;
	background-color:#24a6a4;
	border:1px solid #24a6a4;
	color:#fff
}

.contents button:hover {
 	width: 100px;
 	height:40px;
	background-color:#fff;
	border:1px solid #24a6a4;
	color:#24a6a4
}